<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wear.nikos.tsoglanakos.camera">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"  android:required= "false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  android:required= "false"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"   android:required= "false"/>
    <uses-permission android:name="android.permission.CAMERA"   android:required= "false"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"  android:required= "false"/>

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"  android:required= "false" />

    <uses-permission android:name="android.permission.CAMERA"  android:required= "false"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"  android:required= "false"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"  android:required= "false"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"  android:required= "false" />

    <uses-feature android:name="android.hardware.camera"  android:required= "false" />
    <uses-feature android:name="android.hardware.wear.autofocus"  android:required= "false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/camera_app2"
        android:name="android.support.multidex.MultiDexApplication"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="wear.nikos.tsoglanakos.camera.CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="wear.nikos.tsoglanakos.camera.MobileService">
            <intent-filter>
                <!--<action android:name="com.google.android.gms.wearable.BIND_LISTENER" />-->
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
                <data android:scheme="wear" android:host="*"  />
            </intent-filter>
        </service>

        <activity
            android:name="wear.nikos.tsoglanakos.camera.MainActivity"
            android:label="@string/title_activity_main"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
